.code_block *{
    font-family: 'Monaco', 'Menlo', monospace !important;
}
.code_block {
    /* Убираем фон */
    padding: 0 !important;
    background: none !important;
    margin: 0 !important; /* Убираем отступы */
}

.line-number {
    display: inline-block;
    width: 30px; /* Ширина для нумерации строк */
    text-align: right; /* Выравнивание по правому краю */
    color: #888; /* Цвет для нумерации строк */
    user-select: none; /* Запрет выделения текста */
}
