.code_block *{
    font-family: 'Monaco', 'Menlo', monospace !important;
}

.code_block pre{
    font-size: 14px !important;
    background: transparent !important;
    margin: 0 !important;
    padding: 0 !important;
}

.linenumber{
    padding-right: 40px !important;
}