.file_browser{
    border-radius: var(--border_radius);
    border: var(--border_small);
    overflow: hidden;
    
}

.title{
    background-color: var(--grey_dark);
    
    padding: 5px 10px;
}

.content{
    height: 100%;
    
}

.file{
    border-top: var(--border_small);
    padding: 0;
    min-height: 100px;
    overflow-x: overlay;
}

.file *{
    font-family: 'Monaco', 'Menlo', monospace !important;
}

.file pre{
    padding: 15px !important;
}

.progress_bar {
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px; /* Высота полосы загрузки */
  background-color: #2196f3; /* Цвет полосы загрузки */
  animation: loading 3s linear forwards; /* Анимация загрузки */
}

@keyframes loading {
  0% {
    width: 0%; /* Начальная ширина */
  }
  90% {
    width: 80%; /* Плавное увеличение ширины до 95% */
  }
  100% {
    width: 100%; /* Резкое завершение на 100% */
  }
}